<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<div>
    <form class="form-dimensions" #requestRef="ngForm" (ngSubmit)="sendRequest(requestRef)">
        <h1>Create Support Ticket</h1>
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput name="productname" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Amount Needed</mat-label>
            <input matInput name="amount" ngModel required>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="requestRef.invalid">Submit</button>
    </form>
    <br>
  </div>