<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<div fxLayout="column" fxLayoutAlign="center center" class="edit-profile-container">
    <form #requestRef="ngForm" (ngSubmit)="sendRequest(requestRef)">
        <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="mat-elevation-z10 card-container">
            <div class="mat-title">Send Product Request</div>
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input matInput name="product" ngModel required>
                </mat-form-field>
            </div>
            <div >
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput name="quantity" ngModel required>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" color="primary" [disabled]="requestRef.invalid">Submit</button>
        </mat-card>
    </form>
</div>