<div  *ngIf="loginFlag">
    <h1>Employee Login</h1>
    <form>
        <label>Employee ID:</label>
        <input type="text" name="emp_id"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Sign in">
    </form>
    <span *ngIf="loginFailFlag">Incorrect ID/Password, please try again.</span><br/>
    <div style="color: blue;" (click)="toMain()">Developer "button": Go to main page</div>
</div>

<div  *ngIf="mainFlag">
    <h1>Employee Main Page</h1>
    <span (click)="toRequest()">Send Request</span> | 
    <span (click)="toUpdate()">Update Order Status</span> |
    <span (click)="toUnlock()">Update Users</span> | 
    <span (click)="toEditProfile()">Edit Profile</span> |
    <span (click)="logout()">Logout</span>
</div>

<div  *ngIf="requestFlag">
    <h1>Send Request To Admin</h1>
    <span (click)="toMain()">Back</span>
</div>

<div  *ngIf="updateFlag">
    <h1>Update Order Status</h1>
    <span (click)="toMain()">Back</span>
</div>

<div  *ngIf="unlockFlag">
    <h1>Unlock Users</h1>
    <span (click)="toMain()">Back</span>
</div>

<div  *ngIf="passwordFlag">
    <!-- Editting the profile and changing the default password are the same page,
    just with different headers depending on which it's supposed to be. -->
    <h1  *ngIf="editFlag">Edit Profile</h1>
    <h1  *ngIf="changeFlag">Please Change Default Password</h1>
    <form>
        <label>New Password: </label>
        <input type="password" name="new_password"><br>
        <input type="submit" value="Update">
    </form>
    <!-- Only shows up for profile. -->
    <span *ngIf="editChangedFlag">Password has been changed!</span><br/>
    <span *ngIf="editFlag" (click)="toMain()">Back</span>
    <!-- Only shows up for change default. -->
    <span *ngIf="changeFlag" (click)="refuseToChangePassword()">Back</span>
</div>

