<div>
    <h1>Grocer HUB (Employee Panel)</h1>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Employee Panel</span>
            <span class="example-spacer"></span>
            <button mat-mini-fab routerLink="/employeeLogin">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-tab-group class="tabs-conatiner">
        <mat-tab label="Send Request">
            <!--"Select items" function-->
            <app-send-request></app-send-request>
        </mat-tab>
        <mat-tab label="Update Order Status">
            <!--Order functions-->
            <app-update-order-status></app-update-order-status>
        </mat-tab>
        <mat-tab label="Unlock Users">
            <!--Edit profile functions-->
            <app-unlock-users></app-unlock-users>
        </mat-tab>
        <mat-tab label="Edit Profile">
            <!--Funding functions-->
            <app-edit-profile></app-edit-profile>
        </mat-tab>
    </mat-tab-group>
</div>
