<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
<div fxLayout="column" fxLayoutGap="15px" *ngFor="let ticket of lockedUsers" class="parent-container">
    <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z5">
        <div fxLayout="column" fxLayoutGap="7px">
            <div class="mat-caption">User ID</div>
            <div class="mat-body-2">{{ticket.userId}}</div>
        </div>
        
        <div fxLayout="column" fxLayoutGap="7px">
            <div class="mat-caption">Ticket Description</div>
            <div class="mat-body-2">{{ticket.description}}</div>
        </div>

        <div fxLayout="column" fxLayoutGap="7px">
            <div class="mat-caption">Ticket is Open</div>
            <div class="mat-body-2">{{!ticket.isClosed}}</div>
        </div>

        <div>
            <button mat-raised-button color="primary" (click)="unlockUser(ticket)" [disabled]="ticket.isClosed">Unlock</button>
            &nbsp;
            <button mat-raised-button color="warn" (click)="declineTicket(ticket)" [disabled]="ticket.isClosed">Decline</button>
        </div>
    </mat-card>
</div>