<div fxLayout="column" fxLayoutGap="36px" *ngFor="let order of orders">
    <div>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <!-- <mat-panel-title>
                  Self aware panel
                </mat-panel-title> -->
                <div fxLayout="row" fxLayoutAlign="space-between center" class="orders-panel">
                    <div fxLayout="column" fxLayoutGap="4px">
                        <div class="mat-caption">Order Date</div>
                        <div class="mat-body-2">{{order.date | date}}</div>
                    </div>

                    <div fxLayout="column" fxLayoutGap="4px">
                        <div class="mat-caption">User name</div>
                        <div class="mat-body-2">{{order.userName| titlecase}}</div>
                    </div>

                    <!-- <div fxLayout="column" fxLayoutGap="4px">
                        <div class="mat-caption">Total item</div>
                        <div class="mat-body-2">{{order.orderItems.}}</div>
                    </div> -->

                    <div fxLayout="column" fxLayoutGap="4px">
                        <mat-form-field appearance="fill" class="status-dropdown">
                            <mat-label>Order Status</mat-label>
                            <mat-select [value]="order.status">
                              <mat-option *ngFor="let status of orderStatus" (click)="orderStatusChange(status, order)" [value]="status">
                                {{status | uppercase}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutGap="7px" class="order-details" *ngFor="let orderItems of order.orderItems">
                  <div fxLayout="row" fxLayoutAlign="space-evenly center">
                      <div fxLayout="column">
                          <div class="mat-caption">Product name</div>
                          <div class="mat-body-2">{{orderItems.product.name | titlecase}}</div>
                      </div>

                      <div fxLayout="column">
                        <div class="mat-caption">Product Price</div>
                        <div class="mat-body-2">{{orderItems.product.price | currency}}</div>
                      </div>

                      <div fxLayout="column">
                        <div class="mat-caption">Quantity</div>
                        <div class="mat-body-2">{{orderItems.product.quantity}}</div>
                      </div>
                  </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>