<div>
    <h1>User Panel</h1>
    <a mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/userLogin">Logout</a>
    <mat-tab-group style="text-align: center;">
        <mat-tab label="Shop">
            <!--"Select items" function-->

            <div  class="row" id="itemsA" style="overflow: hidden; display: flex; justify-content:space-around; margin-left: 5px;">
        
                <div class="col">
                     <span class="item-name" id="item-name"><h4>Shoes</h4></span> 
                    <img class="shop-item-image" src="https://media.gettyimages.com/photos/one-pair-of-handpainted-sneakers-featuring-barack-obama-first-of-picture-id1326281553?k=6&m=1326281553&s=612x612&w=0&h=0PsWpE9by8vBQ-byJmzvwwI61ZcMzjZsc7o1wIGP7-U="  style="height: 400px; width: 400px;">
                      <div class="shop-item-details">
                        <span class="item-price" id="item-price">$69.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick="addData('Shoes','69.99')">ADD TO CART</button>
                    </div> 
                </div> 
        
        
                <div class="col">
                     <span class="item-name" id="item-name"><h4>Jackets</h4></span>
                    <img class="shop-item-image" src="https://media.gettyimages.com/photos/denim-jack-picture-id951634470?k=6&m=951634470&s=612x612&w=0&h=CX02c2zJFsB5cfIIVJz4Zag4KeTB4gW8HHqbrbLAVTA=" style="height: 400px; width: 400px;">
                     <div class="shop-item-details">
                        <span class="item-price" id="item-price">$49.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick="addData('Jackets','49.99')">ADD TO CART</button>
                    </div>
                </div>
        
        
                <div class="col">
                     <span class="item-name" id="item-name"><h4>Pants</h4></span> -->
                    <img class="shop-item-image" src="https://media.gettyimages.com/photos/close-up-of-jeans-hanging-on-clothe-sack-in-a-row-picture-id1131300431?k=6&m=1131300431&s=612x612&w=0&h=EYkIxeqz7n4ATUb4gllRASVKwAl6KEh--qyaO3Q10lY=" style="height: 400px; width: 400px;">
                     <div class="shop-item-details">
                        <span class="item-price" id="item-price">$19.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick="addData('Pants','19.99')">ADD TO CART</button>
                    </div>
                </div>
            </div>
            
        
        <hr>
        
            <div  class="row" id="itemsB" style="overflow: hidden; display: flex; justify-content:space-around; margin-left: 5px;">
                
                <div class="col">
                    <span class="item-name" id="item-name"><h4>Belt</h4></span>
                    <img class="shop-item-image" src="https://media.gettyimages.com/photos/brown-leather-belt-isolated-picture-id185263276?k=6&m=185263276&s=612x612&w=0&h=ZGqOlcKwHY4UjAqpPI5ur54zVxUWhi5l65tcTE1qe4s="  style="height: 400px; width: 400px;">
                    <div class="shop-item-details">
                        <span class="item-price" id="item-price">$25.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick="addData('Belt','25.99')">ADD TO CART</button>
                    </div>
                </div>
        
        
                <div class="col">
                    <span class="item-name" id="item-name"><h4>Wristwatch</h4></span>
                    <img class="shop-item-image" src="https://media.gettyimages.com/photos/wristwatches-are-on-display-at-panerai-booth-during-the-3rd-china-picture-id1284672407?k=6&m=1284672407&s=612x612&w=0&h=ZYOykrRjoaQtR_fzvHD_zBp73E3fZe2c1Ov_ZMr9BMI=" style="height: 400px; width: 400px;">
                    <div class="shop-item-details" style="margin-top: 4px;">
                        <span class="item-price" id="item-price">$199.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick="addData('Wristwatch','199.99')">ADD TO CART</button>
                    </div>
                </div>
        
        
                <div class="col">
                    <span class="item-name" id="item-name"><h4>Perfume</h4></span>
                    <img class="shop-item-image" src="https://media.gettyimages.com/photos/this-picture-shows-an-ancient-bottle-of-chanel-n5-perfume-displayed-picture-id1228704142?k=6&m=1228704142&s=612x612&w=0&h=c7djMICfIag-d-S5QBqBMXCFiau6JFBYhbc_K110FSA=" style="height: 400px; width: 400px;">
                    <div class="shop-item-details">
                        <span class="item-price" id="item-price">$99.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick="addData('Perfume','99.99')">ADD TO CART</button>
                    </div>
                </div>
            </div>
        
        

        </mat-tab>
        <mat-tab label="Orders">
            <!--Order functions-->
            <br/>
            <div [innerHTML]="orderTable"></div>
        </mat-tab>
        <mat-tab label="Edit Profile">
            <!--Edit profile functions-->
            <form #editUserRef="ngForm" (ngSubmit)="editProfile(editUserRef)">
                <h2>Edit Profile</h2>
                All fields are optional. However, you must fill in both password fields if you wish to change it.<br/>
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" name="password" ngModel>
                </mat-form-field><br/>
                <mat-form-field>
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput type="password" name="repassword" ngModel>
                </mat-form-field><br/>
                <mat-form-field>
                    <mat-label>New Address</mat-label>
                    <input matInput name="address" ngModel>
                </mat-form-field><br/>
                <mat-form-field>
                    <mat-label>New Phone Number</mat-label>
                    <input matInput name="phone" type="tel" ngModel>
                </mat-form-field><br/>
                <mat-form-field>
                    <mat-label>New Email</mat-label>
                    <input matInput type="email" name="email" ngModel>
                </mat-form-field><br/>
                <button type="submit" mat-raised-button color="primary">Update</button>
                <br/><br/><p style="color: red;">{{editResponse}}</p>
            </form>
        </mat-tab>
        <mat-tab label="Add Funds">
            <!--Funding functions-->
            <br/>
            <div><b>Current Funds: </b>{{currentFunds}}</div><br/>
            <form #additionalFundsForm="ngForm"(ngSubmit)="updateFunds(additionalFundsForm)" >
                <mat-form-field>
                    <mat-label>Account Number</mat-label>
                    <input matInput type="number" name="account_num" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Amount of Added Funds</mat-label>
                    <input matInput type="number" name="funds" ngModel required>
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button color="primary" [disabled]="additionalFundsForm.invalid">Login</button>
                <br/><br/><p style="color: red;">{{fundsErrorMessage}}</p>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
